<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="styles.css"> <!-- Inclua o seu arquivo de estilo CSS, se houver -->
</head>
<body>
    <h1>Login</h1>
    <form action="/logon" method="POST">
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="senha">Senha:</label>
            <input type="password" id="senha" name="senha" required>
        </div>
        <div>
            <button type="submit">Entrar</button>
        </div>
    </form>

    <a href="/home">Home</a>
</body>
</html>
